/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/scss/bootstrap.scss" */
/* "node_modules/bootstrap/scss/bootstrap.scss", */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
/* @import "./assets/images/style.css"; */
/* Active route in routerModule => nav spy class */
.active{
    background-color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f2f2f2

    ; }

/* Changing the color of mat-progress-bar */
.mdc-linear-progress__bar-inner {  
    border-color: #ffc800 !important;
}

mat-progress-bar :first-child {
     
background-color:#9fb53f40          
} 

/* mat select & option */
.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color:  #ffc800
}
.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, #ffc800 );
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #ffc800
}
.mdc-text-field .mdc-text-field__input {
    caret-color: #ffc800
}
/* .mdc-menu-surface--open {
    display: block;
    transform: scale(1);
    opacity: 100;
}
.mdc-menu-surface.mat-mdc-select-panel {
    width: 50%;
    max-height: 275px;
    position: absolute;
    outline: 0;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
} */
/* .mdc-menu-surface.mat-mdc-select-panel {
    width: 456;
    max-height: 275px;
    position: static;
    outline: 0;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
} */


/* .cdk-overlay-pane {
    position:-webkit-sticky;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
} */
/* .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: rgb(232 21 21 / 42%);
}
.mat-mdc-select-arrow {
    color: #c10d0d;
} */
/* mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, #77f80d);
} */

.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color:  #ffc800
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, #ffc800 );
}